@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --cor-primaria:#0d0d0d;
    --cor-secundaria:#f2f2f2;
    --cor-terciaria:#7a8c3a;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 15%;  
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.conteudo {
    margin: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.divisao_texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.divisao_imagem{
    border-radius: 16px;
    width: 40%;
    border: 5px solid var(--cor-terciaria);
}

.rodape {
    padding: 24px;
    font-size: 1.5rem;
    color: #f2f2f2;
    font-family: var(--fonte-secundaria);
    text-align: center;
    background-color: var(--cor-terciaria);
    font-weight: 400;
}

/* textos */

h1 {
    font-weight: bold;
}

.titulo {
    font-size: 2.25rem;
    font-family:var(--fonte-primaria);
}

.titulo_destaque { 
    color:var(--cor-terciaria);
}
.subtitulo {
    font-family:var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

/* botoes */

.menu_buttons {
    display: flex;
    gap: 80px;
}


.botoes {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}
.botoes:hover {
    color: #4f5a25;
}


.redes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.redes_buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: black;
    border: 2px solid var(--cor-terciaria); 
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    font-weight: 600;
    width: 378px; 
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0;
    text-decoration: none; 
}
.redes_buttons:hover {
    background-color: var(--cor-hover);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }
    .menu_buttons {
        justify-content: center;
    }
    .conteudo {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .divisao_imagem {
        width: auto;
    }
}